/* margem */
.com-margem,
.sem-margem {
  background-color: #000;
  color: #fff;
}

.com-margem {
  margin: 20px 5px 20px 5px;
}

/* Border */
.com-borda {
  padding: 10px;
  border: 5px double red;
  border-radius: 10px;
}

.com-borda-editada {
  margin: 20px;
  padding: 20px;
  background-color: red;
  border-radius: 50%; /* Um objeto quadrado com radius 50% forma um circulo */
}

.com-borda-individual {
  padding: 20px;
  border-left: 5px dotted red;
  border-bottom: 10px solid rgb(0, 255, 42);
  border-top: 5px dotted red;
  border-right: 10px solid rgb(0, 255, 21);
}

/* Largura e altura */
.height-width-2,
.height-width {
  height: 100px;
  background-color: blueviolet;
}

.height-width {
  width: 200px;
  background-color: red;
}

/* Padding */
.without-padding,
.padding {
  background-color: #111;
  color: #fff;
}

.padding,
.padding-individual {
  background-color: darkgray;
  padding: 20px;
}

/* Padding individual */
.padding-individual {
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 120px;
  padding-right: 10px;
}

/* Shorthand properties */
/* Topo, Direita, Base, esquerda */
.padding-individual-shorthand {
  background-color: #444;
  color: #fff;
  padding: 6px 12px 18px 24px;
}

/* Altura, largura */
.padding-individual-shorthand-2 {
  background-color: #444;
  color: #fff;
  padding: 20px 40px;
}

/* Padding e width */
/* Padding sem descontar do Width */
.without-border-box {
  background-color: bisque;
  color: #000;
  width: 400px;
  padding: 50px;
}

/* Padding descontando do Width (box-sizing: border-box)*/
.without-border-box-2 {
  background-color: bisque;
  color: #000;
  width: 400px;
  padding: 50px;
  box-sizing: border-box;
}

/* Usando tudo que foi visto acima */
.box-model {
  background-color: rgba(134, 121, 124, 0.3);
  margin: 20px;
  padding: 15px 25px;
  border: 3px solid #845;
  border-radius: 7px;
  width: 200px;
  height: 200px;
}
