/* reset (resetar base do html) */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f0ebf8;
}

h1,
h2,
h3,
h4,
h5 {
  color: #333;
}

p,
label {
  color: #444;
}

input {
  /* Altera todos os tipos de input */
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="file"],
textarea {
  /* Altera somente o tipo de input selecionado entre colchetes */
  width: 400px;
}

textarea {
  padding: 10px 5px;
}

/* Page Header */
.header {
  height: 160px;
  padding: 20px;
  background-color: #673ab7;
}

.header h3 {
  color: #fff;
  margin-top: 0;
}

/* Form container */
.form-container {
  background-color: #fdfdfd;
  width: 60%;
  margin: 0 auto; /* Centralizará sempre no meio */
  position: relative; /* Se tiver algum elemento como absolute, este será a referência dele */
  top: -62px; /* Como a posição é relative, consito mexer o elemento na tela */
}

/* Form header */
.form-header {
  border-bottom: 1px solid #dfdfdf;
  height: 45px;
}

.form-header p {
  color: #673ab7;
  border-bottom: 2px solid #673ab7;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px;
}

/* Form body */
.form-body {
  padding: 30px;
}

.form-title {
  margin-bottom: 15px;
}

.form-title p {
  margin-bottom: 20px;
}

.required-field {
  color: #d80835;
}

.box-input {
  margin-bottom: 35px;
}

.block {
  display: block;
}

.optional-box {
  display: inline-block;
  margin: 0 30px 30px 0;
}

.optional-box p {
  margin-bottom: 20px;
}

.optional-list li {
  list-style: none;
  margin-bottom: 5px;
}

.box-input p {
  margin-bottom: 15px;
}

.btn-summit {
  background-color: #673ab7;
  border-radius: 10px;
  color: #fff;
  border: 2px solid transparent; /* Transparente para criar efeito */
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s; /* Tempo de transição ao acionar o efeito no HOVER (abaixo) */
}

.btn-summit:hover {
  /* Efeito ao passar o mouse em cima, acontece no tempo de transição (acima) */
  background-color: #fff;
  border-color: #673ab7;
  color: #673ab7;
}
